@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --color-green: #31c48d;
  --color-white: #ffffff;
  --color-dark-grey: #33333d;
  --color-medium-grey: #424250;
  --color-light-grey: #d2d6dc;
  --yellow: yellow;
  --black: black;
}
* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  padding: 20px;
  background: #006342;
}
